/cache/
/cache_si/
/cache_clean/
/cache_si_clean/
/data/checkpoints/
.RData
.Rhistory
.Rproj.user
*.Rproj
*-concordance.tex
*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.xwm
Exported\ Items.bib
scripts/water_conserve_.rda
scripts/water_conserve_.rds
scripts/water_conserve_.Rda
scripts/water_conserve_.Rds
/data/proprietary/google_maps_api.csv
/si_scripts/model_fits.Rds
/si_scripts/model.rds
/si_scripts/model.stan
/si_scripts/reb_parameters.pdf
/si_scripts/reb_table.tex
/si_scripts/req_parameters.pdf
/si_scripts/req_table.tex
/si_scripts/tables.tex
/si_scripts/vwci_parameters.pdf
/si_scripts/vwci_residual_scatter_plot.pdf
/si_scripts/vwci_table.tex
/foo.*
.$*$
knitr.sty
/AGU_template/agujournalsample.pdf
/data/**/*.nc
si_scripts/data/**/*.nc
si_scripts/data/proprietary/
/si_scripts_old/model_fits.Rds
/si_scripts_old/reb_parameters.pdf
/si_scripts_old/req_parameters.pdf
/si_scripts_old/vwci_parameters.pdf
/si_scripts_old/vwci_residual_scatter_plot.pdf
/si_scripts_old/reb_table.tex
/si_scripts_old/req_table.tex
/si_scripts_old/tables.tex
/si_scripts_old/vwci_table.tex
/si_scripts_old/model.rds
AGU_SI_template/agutmpl\ -\ Supporting\ Information.pdf
AGU_template/agusuppinfosample.pdf
/scripts/water_conserve_[ms]l*.rds
/si_scripts/scripts/water_conserve_[ms]l*.rds
/si_scripts/output/
/si_scripts/data/model_*_checkpoint.rds
/data/model_fit_checkpoint.rds
*~
old.RData
cache_clean
